<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                http://www.springframework.org/schema/beans/spring-beans.xsd
                http://www.springframework.org/schema/context
                http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config></context:annotation-config>

    <bean id="authorRepository" class="pt.psoft.g1.psoftg1.authormanagement.infrastructure.repositories.impl.AuthorH2RepositoryImpl"/>
    <bean id="bookRepository" class="pt.psoft.g1.psoftg1.bookmanagement.infrastructure.repositories.impl.BookH2RepositoryImpl"/>
    <bean id="genreRepository" class="pt.psoft.g1.psoftg1.genremanagement.infrastructure.repositories.impl.GenreH2RepositoryImpl"/>

</beans>